<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>PlusJakartaSans-BoldItalic.ttf</string>
		<string>PlusJakartaSans-ExtraBold.ttf</string>
		<string>PlusJakartaSans-ExtraBoldItalic.ttf</string>
		<string>PlusJakartaSans-ExtraLight.ttf</string>
		<string>PlusJakartaSans-ExtraLightItalic.ttf</string>
		<string>PlusJakartaSans-Italic.ttf</string>
		<string>PlusJakartaSans-Light.ttf</string>
		<string>PlusJakartaSans-LightItalic.ttf</string>
		<string>PlusJakartaSans-Medium.ttf</string>
		<string>PlusJakartaSans-MediumItalic.ttf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-SemiBoldItalic.ttf</string>
		<string>Inter_18pt-Black.ttf</string>
		<string>Inter_18pt-BlackItalic.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Inter_18pt-BoldItalic.ttf</string>
		<string>Inter_18pt-ExtraBold.ttf</string>
		<string>Inter_18pt-ExtraBoldItalic.ttf</string>
		<string>Inter_18pt-ExtraLight.ttf</string>
		<string>Inter_18pt-ExtraLightItalic.ttf</string>
		<string>Inter_18pt-Italic.ttf</string>
		<string>Inter_18pt-Light.ttf</string>
		<string>Inter_18pt-LightItalic.ttf</string>
		<string>Inter_18pt-Medium.ttf</string>
		<string>Inter_18pt-MediumItalic.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>Inter_18pt-SemiBoldItalic.ttf</string>
		<string>Inter_18pt-ThinItalic.ttf</string>
		<string>Inter_18pt-Thin.ttf</string>
	</array>
</dict>
</plist>
