<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>PlusJakartaSans-BoldItalic.ttf</string>
		<string>PlusJakartaSans-ExtraBold.ttf</string>
		<string>PlusJakartaSans-ExtraBoldItalic.ttf</string>
		<string>PlusJakartaSans-ExtraLight.ttf</string>
		<string>PlusJakartaSans-ExtraLightItalic.ttf</string>
		<string>PlusJakartaSans-Italic.ttf</string>
		<string>PlusJakartaSans-Light.ttf</string>
		<string>PlusJakartaSans-LightItalic.ttf</string>
		<string>PlusJakartaSans-Medium.ttf</string>
		<string>PlusJakartaSans-MediumItalic.ttf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-SemiBoldItalic.ttf</string>
		<string>Inter-Black.otfInter-BlackItalic.otfInter-Bold.otfInter-BoldItalic.otfInter-ExtraBold.otfInter-ExtraBoldItalic.otfInter-ExtraLight.otfInter-ExtraLightItalic.otfInter-Italic.otfInter-Light.otfInter-LightItalic.otfInter-Medium.otfInter-Thin.otfInter-ThinItalic.otfInter-SemiBoldItalic.otfInter-SemiBold.otfInter-Regular.otfInter-MediumItalic.otf</string>
		<string>Inter-BlackItalic.otf</string>
		<string>Inter-Bold.otf</string>
		<string>Inter-BoldItalic.otf</string>
		<string>Inter-ExtraBold.otf</string>
		<string>Inter-ExtraBoldItalic.otf</string>
		<string>Inter-ExtraLight.otf</string>
		<string>Inter-ExtraLightItalic.otf</string>
		<string>Inter-Italic.otf</string>
		<string>Inter-Light.otf</string>
		<string>Inter-LightItalic.otf</string>
		<string>Inter-Medium.otf</string>
		<string>Inter-MediumItalic.otf</string>
		<string>Inter-Regular.otf</string>
		<string>Inter-SemiBold.otf</string>
		<string>Inter-SemiBoldItalic.otf</string>
		<string>Inter-Thin.otf</string>
		<string>Inter-ThinItalic.otf</string>
	</array>
</dict>
</plist>
